{% load opengraph_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Django OpenGraph Example</title>

        <!-- test 1 -->
        {% opengraph title='Django OpenGraph Example' description='This is a test' image="//site.tld/image.png" %}

        <!-- test 2 -->
        {% opengraph title='Django OpenGraph Example' description='This is a test' image='/foo/bar.png' %}

        <!-- test 3 -->
        {% opengraph title='Django OpenGraph Example' description='This is a test' image="http://site.tld/image.png" %}

        <!-- test 4 -->
        {% opengraph title='Django OpenGraph Example' description='This is a test' image="https://site.tld/image.png" %}
    </head>
    <body></body>
</html>
